.App {
  text-align: center;
}

.App-header {
  background-color: rgb(133, 204, 0);
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 20px;
  font-size: large;
}

.table {
  padding: 20px;
}

.dateHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
